.dark-tile{
    background-color: green;
    padding: 1.5rem;
    width: 1rem;
    height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
}

.light-tile{
    background-color: lightgreen;
    padding: 1.5rem;
    width: 1rem;
    height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
}